@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    max-width: 1280px;
    width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.hero-pattern{
    background-image: url(./images/bg.jpg);
}

.socialbtn {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 246 246/var(--tw-bg-opacity));
    --tw-gradient-from: #fa5252;
    --tw-gradient-to: rgba(250,82,82,0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: #dd2476;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }

  /* @media (prefers-color-scheme: dark) {
    .hero-pattern {
      background-image: url('./images/bg-dark.jpg');
    }
  } */

  .after-effect {
    position: relative;
    display: inline-block;
    --tw-gradient-from: #fa5252;
    --tw-gradient-to: rgba(250,82,82,0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: #dd2476;
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
  }
  .after-effect:after{
    content:"";
    height:3px;
    width: 200px;
    background-color: #fa5252;
    position: absolute;
    top: 50%;
    left: 0;
  }
  .fullfilled{
    position: absolute;
    top: 0;
    left: 0;  
    height: 17px;
    background-color: #dd2476;
  }
  .resume-btn {
    cursor: default;
    border-radius: .5rem;
    background-color: rgb(237 242 242/var(--tw-bg-opacity));
    padding: .5rem 1.25rem;
    color: rgb(68 86 108/var(--tw-text-opacity));
  }
  .filter-btn{
    padding: 8px 20px;
  border-radius: 10px;
  }

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #fa5252;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}